!!!
/ saved from url=(0053)http://twitter.github.io/bootstrap/examples/hero.html
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title FoneFlare - ask for help or fill a need
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / Le styles
    %link{:href => "/assets/bootstrap.css", :rel => "stylesheet"}/
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
        %link{:href => "../css/bootstrap-responsive.css", :rel => "stylesheet"}/
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="../assets/js/html5shiv.js"></script>
    / Fav and touch icons
    %link{:href => "http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
    %link{:href => "http://twitter.github.io/bootstrap/assets/ico/favicon.png", :rel => "shortcut icon"}/
  %body
    .container
      / Main hero unit for a primary marketing message or call to action
      .hero-unit
        %img{:src => "/assets/FoneFlareBanner.png"}/
      %legend Current flares in zip code: #{@results}
      %table.table.table-striped
        %thead
          %tr
            %th{:width => "14%"} Flare ID
            %th{:width => "21%"} Category
            %th{:width => "24%"} Address
            %th{:width => "41%"} Description
        %tbody
          %tr
            %td
              %a{:href => "#"} F123
            %td Medical Assistance
            %td 1401 NE 5th St.
            %td Elderly parent needs help changing a wound dressing
          %tr
            %td
              %a{:href => "#"} F456
            %td Stranded
            %td 2998 SE Douglas
            %td Car ran out of gas
          %tr
            %td
              %a{:href => "#"} F789
            %td Property Damage
            %td 1017 Market St.
            %td Tree fell on house
          - @flares.each do |row|
            %tr
              %td
                %a{:href => row[0] }
              %td #{row[1]}
              %td #{row[2]}
              %td #{row[3]}
      %footer
        %p=@results
    / /container
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "/assets/jquery.js"}
    %script{:src => "/assets/bootstrap-transition.js"}
    %script{:src => "/assets/bootstrap-alert.js"}
    %script{:src => "/assets/bootstrap-modal.js"}
    %script{:src => "/assets/bootstrap-dropdown.js"}
    %script{:src => "/assets/bootstrap-scrollspy.js"}
    %script{:src => "/assets/bootstrap-tab.js"}
    %script{:src => "/assets/bootstrap-tooltip.js"}
    %script{:src => "/assets/bootstrap-popover.js"}
    %script{:src => "/assets/bootstrap-button.js"}
    %script{:src => "/assets/bootstrap-collapse.js"}
    %script{:src => "/assets/bootstrap-carousel.js"}
    %script{:src => "/assets/bootstrap-typeahead.js"}
    %script#hiddenlpsubmitdiv{:style => "display: none;"}
    :javascript
      try{for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ d.innerText=i; } } d.dispatchEvent(customEvent); form.lpsubmitorig2(); } } }}catch(e){}