!!!
/ saved from url=(0053)http://twitter.github.io/bootstrap/examples/hero.html
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title FoneFlare - ask for help or fill a need
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / Le styles
    %link{:href => "../css/bootstrap.css", :rel => "stylesheet"}/
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
        %link{:href => "../css/bootstrap-responsive.css", :rel => "stylesheet"}/
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="../assets/js/html5shiv.js"></script>
    / Fav and touch icons
    %link{:href => "http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
    %link{:href => "http://twitter.github.io/bootstrap/assets/ico/favicon.png", :rel => "shortcut icon"}/
  %body
    .container
      / Main hero unit for a primary marketing message or call to action
      .hero-unit
        %img{:src => "/assets/FoneFlareBanner.png"}/
      %form.form-horizontal{:action => "list", :method => "get", :name => "flare_search"}
        %fieldset
          %legend See who needs help in your area
          .control-group
            %label.control-label{:for => :zipcode} Enter your zip code
            .controls
              %input#input01.input-xlarge{:type => "text", :name => :zipcode}/
          .form-actions
            %button.btn.btn-primary{:type => "submit"} Find active flares
            %button.btn Cancel
      %footer
        %p  
    / /container
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "../js/jquery.js"}
    %script{:src => "../js/bootstrap-transition.js"}
    %script{:src => "../js/bootstrap-alert.js"}
    %script{:src => "../js/bootstrap-modal.js"}
    %script{:src => "../js/bootstrap-dropdown.js"}
    %script{:src => "../js/bootstrap-scrollspy.js"}
    %script{:src => "../js/bootstrap-tab.js"}
    %script{:src => "../js/bootstrap-tooltip.js"}
    %script{:src => "../js/bootstrap-popover.js"}
    %script{:src => "../js/bootstrap-button.js"}
    %script{:src => "../js/bootstrap-collapse.js"}
    %script{:src => "../js/bootstrap-carousel.js"}
    %script{:src => "../js/bootstrap-typeahead.js"}
    %script#hiddenlpsubmitdiv{:style => "display: none;"}
    :javascript
      try{for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ d.innerText=i; } } d.dispatchEvent(customEvent); form.lpsubmitorig2(); } } }}catch(e){}