!!!
/ saved from url=(0053)http://twitter.github.io/bootstrap/examples/hero.html
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title FoneFlare - ask for help or fill a need
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / Le styles
    %link{:href => "/assets/bootstrap.css", :rel => "stylesheet"}/
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
        %link{:href => "/assets/bootstrap-responsive.css", :rel => "stylesheet"}/
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="../js/html5shiv.js"></script>
    / Fav and touch icons
    %link{:href => "http://twitter.github.io/bootstrap/ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "http://twitter.github.io/bootstrap/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "http://twitter.github.io/bootstrap/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "http://twitter.github.io/bootstrap/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
    %link{:href => "http://twitter.github.io/bootstrap/ico/favicon.png", :rel => "shortcut icon"}/
  %body
    .container
      / Main hero unit for a primary marketing message or call to action
      .hero-unit
        %img{:src => "/assets/FoneFlareBanner.png"}/
        %p  
        %p
          %strong FoneFlare helps you get the word out
          when you need assistance, or be "on-call" when you can help others. Even if Internet access is hard to come by after a natural disaster, or in a remote coverage area, use SMS to request help from responders in your zip code, or find out who could use your assistance.
        %p
          %a.btn.btn-primary.btn-large{:href => "flare/create"}> Create a flare »
          \  
          %a.btn.btn-primary.btn-large{:href => "flare/search"} See who needs help »
      / Example row of columns
      .row
        .span4
          %h2 Simple to use
          %p No complicated connections or web sites. Just use your phone's text messaging capability to send up a  "flare" when you need help.
        .span4
          %h2 Resilient
          %p There's a good chance you won't be able to get a reliable data connection after a natural disaster strikes. FoneFlare uses SMS (text) messaging when there's no data connections, so you can still communicate.
        .span4
          %h2 Anonymous
          %p Respondents won't ever see your actual phone number; everything is managed anonymously by the FoneFlare app.
      %hr/
      %footer
        %p  
    / /container
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "/assets/jquery.js"}
    %script{:src => "/assets/bootstrap-transition.js"}
    %script{:src => "/assets/bootstrap-alert.js"}
    %script{:src => "/assets/bootstrap-modal.js"}
    %script{:src => "/assets/bootstrap-dropdown.js"}
    %script{:src => "/assets/bootstrap-scrollspy.js"}
    %script{:src => "/assets/bootstrap-tab.js"}
    %script{:src => "/assets/bootstrap-tooltip.js"}
    %script{:src => "/assets/bootstrap-popover.js"}
    %script{:src => "/assets/bootstrap-button.js"}
    %script{:src => "/assets/bootstrap-collapse.js"}
    %script{:src => "/assets/bootstrap-carousel.js"}
    %script{:src => "/assets/bootstrap-typeahead.js"}
    %script#hiddenlpsubmitdiv{:style => "display: none;"}